.container {
  width: 90%;
  display: grid;
  margin: 25px auto 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: 1fr;
}

.background-blur {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: all 0.3s;
  background-color: rgba(51, 41, 39, 0.5);
  &.active {
    display: block;
  }
}

.itinerary-content {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 80%;
  padding: 20px;
  transform: translate(100%);
  transition: all 0.8s;
  background-color: white;
  z-index: 3;
  overflow-x: auto;
  &.active {
    transform: translate(-50%, -50%);
  }
}

.wrapper-image {
  width: 100%;
  height: 100%;
  position: relative;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:1;
  color: white;
  font-size: 20px;
  padding: 20px 0px;
  text-align: center;
  .overlay-text {
    display: block;
    color: #e5e5e5;
    &.tags {
      font-size: 14px;
    }
    &.camera {
      font-size: 16px;
    }
    &.author {
      font-size: 18px;
    }
  }
  &:hover {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  .itinerary-content {
    height: 420px;
    width: 560px;
  }
  .overlay {
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
}